.group-40-3 {
  align-items: flex-start;
  display: flex;
  height: 54px;
  left: 526px;
  position: absolute;
  top: 913px;
}

.overlap-group2 {
  align-items: flex-end;
  background-color: var(--granny-smith-apple);
  border-radius: 20px;
  display: flex;
  height: 54px;
  justify-content: flex-end;
  min-width: 380px;
  padding: 7.4px 23.3px;
}

.text-2 {
  letter-spacing: 0;
  min-height: 39px;
  text-align: center;
  width: 332px;
}

.group-40-4 {
  align-items: flex-start;
  display: flex;
  height: 54px;
  left: 526px;
  position: absolute;
  top: 913px;
}

.overlap-group2-1 {
  align-items: flex-end;
  background-color: var(--granny-smith-apple);
  border-radius: 20px;
  display: flex;
  height: 54px;
  justify-content: flex-end;
  min-width: 380px;
  padding: 7.4px 23.3px;
}

.text-20 {
  letter-spacing: 0;
  min-height: 39px;
  text-align: center;
  width: 332px;
}

