.moneytips-feature1 {
  background-color: var(--carnation-pink);
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.overlap-group-15 {
  height: 976px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1392px;
}

.screenshot-2021-07-27-at-1303-2-2 {
  height: 84px;
  left: 1009px;
  object-fit: cover;
  position: absolute;
  top: 203px;
  width: 99px;
}

.text-19 {
  left: 878px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 904px;
  width: 326px;
}

.group-53-2 {
  align-items: flex-start;
  display: flex;
  height: 588px;
  left: 89px;
  position: absolute;
  top: 310px;
}

.overlap-group4-5 {
  border-radius: 10px;
  height: 588px;
  position: relative;
  width: 1263px;
}

.text-21 {
  left: 59px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 31px;
  width: 1148px;
}

.span0 {
  text-decoration: underline;
}

.text-22 {
  left: 89px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 908px;
}

.text-23 {
  left: 1270px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 227px;
}

.text-24 {
  left: 304px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 203px;
}

.overlap-group1-7 {
  height: 169px;
  left: -25px;
  position: absolute;
  top: -23px;
  width: 1465px;
}

.group-13-3 {
  align-items: flex-start;
  background-color: var(--wild-strawberry);
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 138px;
  left: 0;
  min-width: 1465px;
  padding: 30px 341.5px;
  position: absolute;
  top: 23px;
}

.xbox-menu-3 {
  cursor: pointer;
  height: 72px;
  width: 83px;
}

.test-account-3 {
  cursor: pointer;
  height: 72px;
  margin-left: 598px;
  width: 83px;
}

.img9872-3-13 {
  height: 169px;
  left: 610px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 269px;
}

