.button-primary {
  align-items: center;
  background-color: var(--canary);
  border-radius: 100px;
  display: flex;
  height: 61px;
  justify-content: flex-end;
  margin-right: 1.0px;
  margin-top: 26px;
  min-width: 343px;
  padding: 0 124px;
}

.sign-up {
  letter-spacing: 0;
  min-height: 29px;
  min-width: 93px;
  text-align: center;
}

.button-primary.button-primary-1 {
  margin-top: 58px;
}

