.moneytips-feature3 {
  background-color: var(--carnation-pink);
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.overlap-group1 {
  height: 1019px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1392px;
}

.text-1 {
  left: 878px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 904px;
  width: 326px;
}

.group-53 {
  align-items: flex-start;
  display: flex;
  height: 709px;
  left: 89px;
  position: absolute;
  top: 310px;
}

.overlap-group4 {
  height: 709px;
  position: relative;
  width: 1263px;
}

.text-3 {
  left: 58px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 184px;
  width: 1148px;
}

.text-4 {
  left: 89px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 908px;
}

.text-5 {
  left: 1270px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 227px;
}

.text-6 {
  left: 304px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 203px;
}

.screenshot-2021-07-27-at-1303-2 {
  height: 84px;
  left: 1009px;
  object-fit: cover;
  position: absolute;
  top: 203px;
  width: 99px;
}

.overlap-group {
  height: 169px;
  left: -25px;
  position: absolute;
  top: -23px;
  width: 1465px;
}

.group-13 {
  align-items: flex-start;
  background-color: var(--wild-strawberry);
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 138px;
  left: 0;
  min-width: 1465px;
  padding: 30px 341.5px;
  position: absolute;
  top: 23px;
}

.xbox-menu {
  cursor: pointer;
  height: 72px;
  width: 83px;
}

.test-account {
  cursor: pointer;
  height: 72px;
  margin-left: 598px;
  width: 83px;
}

.img9872-3 {
  height: 169px;
  left: 610px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 269px;
}

