.group-54 {
  align-items: flex-start;
  display: flex;
  height: 66px;
  left: 533px;
  position: absolute;
  top: 221px;
}

.overlap-group3 {
  height: 66px;
  position: relative;
  width: 370px;
}

.main-box-6 {
  background-color: var(--granny-smith-apple);
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 367px;
}

.money-tips-for-you {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 370px;
}

.group-54-1 {
  align-items: flex-start;
  display: flex;
  height: 66px;
  left: 533px;
  position: absolute;
  top: 221px;
}

.overlap-group3-1 {
  height: 66px;
  position: relative;
  width: 370px;
}

.main-box-7 {
  background-color: var(--granny-smith-apple);
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 367px;
}

.money-tips-for-you-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 370px;
}

.group-54-2 {
  align-items: flex-start;
  display: flex;
  height: 66px;
  left: 533px;
  position: absolute;
  top: 221px;
}

.overlap-group3-2 {
  height: 66px;
  position: relative;
  width: 370px;
}

.main-box-8 {
  background-color: var(--granny-smith-apple);
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 367px;
}

.money-tips-for-you-2 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 370px;
}

