.sizexl-type-out-r-stretch-false {
  align-items: center;
  border: 1px solid var(--canary);
  border-radius: 32px;
  display: flex;
  height: 38px;
  justify-content: flex-end;
  left: 1243px;
  min-width: 145px;
  padding: 0 24px;
  position: absolute;
  top: 65px;
}

.label {
  color: var(--canary);
  font-family: var(--font-family-roboto);
  font-size: 30px;
  height: 24px;
  letter-spacing: -0.06px;
  line-height: 24px;
  min-width: 93px;
  text-align: center;
  white-space: nowrap;
}

