.group-42 {
  align-items: flex-start;
  background-color: var(--chateau-green);
  border-radius: 10px;
  display: flex;
  height: 588px;
  justify-content: flex-end;
  left: 0;
  opacity: 0.3;
  padding: 12.6px 18.1px;
  position: absolute;
  top: 0;
}

.main-box-9 {
  background-color: var(--white);
  height: 563px;
  width: 1225px;
}

.group-42-1 {
  align-items: flex-start;
  background-color: var(--chateau-green);
  border-radius: 10px;
  display: flex;
  height: 588px;
  justify-content: flex-end;
  left: 0;
  opacity: 0.3;
  padding: 12.6px 18.1px;
  position: absolute;
  top: 0;
}

.main-box-10 {
  background-color: var(--white);
  height: 563px;
  width: 1225px;
}

.group-42-2 {
  align-items: flex-start;
  background-color: var(--chateau-green);
  border-radius: 10px;
  display: flex;
  height: 588px;
  justify-content: flex-end;
  left: 0;
  opacity: 0.3;
  padding: 12.6px 18.1px;
  position: absolute;
  top: 0;
}

.main-box-11 {
  background-color: var(--white);
  height: 563px;
  width: 1225px;
}

