.group-41 {
  align-items: flex-start;
  background-color: var(--fuchsia);
  border-radius: 10px;
  display: flex;
  height: 411px;
  justify-content: flex-end;
  left: 376px;
  padding: 8.8px 9.8px;
  position: absolute;
  top: 379px;
}

.main-box {
  background-color: var(--white);
  height: 393px;
  width: 661px;
}

.group-41-1 {
  align-items: flex-start;
  background-color: var(--fuchsia);
  border-radius: 10px;
  display: flex;
  height: 411px;
  justify-content: flex-end;
  left: 376px;
  padding: 8.8px 9.8px;
  position: absolute;
  top: 379px;
}

.main-box-1 {
  background-color: var(--white);
  height: 393px;
  width: 661px;
}

.group-41-2 {
  align-items: flex-start;
  background-color: var(--fuchsia);
  border-radius: 10px;
  display: flex;
  height: 411px;
  justify-content: flex-end;
  left: 376px;
  padding: 8.8px 9.8px;
  position: absolute;
  top: 379px;
}

.main-box-2 {
  background-color: var(--white);
  height: 393px;
  width: 661px;
}

